body {
    background-color: #bfbfc0;
    color: white;
    padding: 20px;
    font-family: Arial;
}

.h {
    background-color: #e1e2e3;
    color: #726f69;
    padding: inherit;
}

p {
    padding: 5px;
    margin: 0%;
}

.p1 {
    background-color: #2682c3;
}

.p2 {
    background-color: #2a92d0;
}

.p3 {
    background-color: #1e9ed9;
}

.p4 {
    background-color: #37a9df;
}

.p5 {
    background-color: #57b6e6;
}

.p6 {
    background-color: #73c1ec;
}

.p7 {
    background-color: #8fcbee;
}

.p8 {
    background-color: #1bb586;
}

.p9 {
    background-color: #f4b0ce;
}

.p10 {
    background-color: #f39ec2;
}

.p11 {
    background-color: #f38bb4;
}

.p12 {
    background-color: #f279a4;
}

.p13 {
    background-color: #f16996;
}

.p14 {
    background-color: #f0578a;
}

.p15 {
    background-color: #ee317e;
}